@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    border: 0;
}

.block-left {
    width: 50%;
    margin-left: 119.67px;
}

.block-right {
    width: 50%;
    margin-right: 119.67px;
}

.features-wrapper {
    display: flex;
    width: 1436px;
    height: 1259px;
}

.block-decor-left {
    width: 77.78px;
    height: 3.66px;
    border-color: #3B00DD;
    background: #3B00DD;
    margin-top: 128.1px;
    margin-bottom: 57.64px;
}
.block-decor-right {
    width: 77.78px;
    height: 3.66px;
    border-color: #3B00DD;
    background: #3B00DD;
    margin-top: 223.25px;
    margin-bottom: 54.9px;
    margin-left: 508.59px;
}

.wrap-image {
    margin-bottom: 73.2px;
}

.block-title {
    width: 380.94px;
    height: 43px;
    margin-bottom: 36.6px;
    margin-left: 103.71px;
    font-family: 'Roboto', sans-serif;
}

.block-title:nth-child(1) {
    width: 380.94px;
    height: 43px;
    margin-top: 109.8px;
    margin-bottom: 36.6px;
    margin-left: 103.71px;
    font-family: 'Roboto', sans-serif;
}

.block-desc {
    width: 383.93px;
    height: 209.53px;
    margin-left: 103.71px;
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
}

.btn-icon {
    background-color: #3B00DD;
    color: white ;
    width: 179.5px;
    height: 43.92px;
    margin-left: 103.71px;
}

.section-reviews{
    width: 1440px;
    height: 640px;
}

.reviews-wrapper {
    display: flex;
}

.section-title {
    text-align: center;
    margin-top: 107px;
    margin-bottom: 72px;
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 69px;
}

.review-item {
    width: 33.33%;
}

.review-item:nth-child(1){
    margin-left: 120px;
}

.review-item:nth-child(3){
    margin-right: 120px;
}

.review-image{
    margin-bottom: 25px;
    border-radius: 20px;
}

.review-title{
    text-align: center;
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
}

.review-desc{
    width: 384px;
    height: 48px;
    text-align: center;
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
}

.review-decor{
    width: 200px;
    border: 5px solid #3B00DD;
    background: #3B00DD;
    margin: 0 25% 20px 25%;
}

.section-contacts{
    width: 1440px;
    height: 881px;
}

.section-title{
    text-align: center;
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 69px;
    color: rgba(0, 0, 0, 0.87);
}

.contacts-wrapper{
    display: flex;
}

.contacts-form{
    display: block;
    width: 588px;
    height: 492px;
    margin-left: 120px;
    outline: inherit;
}

.contacts-map{
    width: 588px;
    height: 331px;
    margin-right: 120px;
}

input{
    width: 384px;
    height: 56px;
    outline: black;
    box-sizing: border-box;
    padding: 1em;
    border: 0.1ex solid #CCC;
    border-radius: 1em;
    margin: 0 102px 18px 102px;
}

input:nth-child(1) {
    margin-top: 51px;
}

h4{
    width: 175px;
    height: 30px;
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
    margin-right: 40px;
    margin-left: 102px;
}

p{
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-left: 9px;
}

.contacts-title{
    display: inline;
    margin-top: 48px;
}

button{
    width: 180px;
    height: 48px;
    background-color: #3B00DD;
    margin-left: 306px;
}

span{color: white}

.contact-field {
    display: flex;
}

.contact-field-find {
    width: 241px;
    height: 83px;
    margin-top: 41px;
    margin-bottom: 37px;
    margin-left: 25px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
}

div.contact-field-find h3 {
    margin-top: -25px;
    margin-left: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
}

div.contact-field-find p {
    width: 122px;
    height: 48px;
    margin-top: 5px;
    margin-left: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
}

.contact-field-phone {
    width: 221px;
    height: 83px;
    margin: 41px 45px 37px 56px;
}

div.contact-field-phone h3 {
    margin-top: -25px;
    margin-left: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
    margin-left: 24px;
}

div.contact-field-phone p {
    margin-top: 5px;
    margin-left: 24px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
    width: 179px;
    height: 48px;
}
