@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
}

section:nth-child(1) {
    display: flex;
}

header {
    width: 1441px;
    height: 800px;
}

header div:first-child div:first-child{
    width: 755px;
    height: 228px;
    margin-top: 193px;
    margin-left: 120px;
}
header section div div h1{

    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 84px;
    letter-spacing: -0.5px;
    color: rgba(0, 0, 0, 0.6);

    width: 755px;
    height: 228px;
}

header p{
    width: 486px;
    height: 112px;
    margin-top: 42px;
    margin-left: 120px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.87);
}

header button{
    margin-top: 77px;
    margin-left: 120px;
}

header img{
    margin-left: 37px;
}

.block-left {
    width: 50%;
    margin-left: 119.67px;
}

.block-right {
    width: 50%;
    margin-right: 119.67px;
}

.features-wrapper {
    display: flex;
    width: 1436px;
    height: 1259px;
}

.block-decor-left {
    width: 77.78px;
    height: 3.66px;
    border-color: #3B00DD;
    background: #3B00DD;
    margin-top: 128.1px;
    margin-bottom: 57.64px;
}
.block-decor-right {
    width: 77.78px;
    height: 3.66px;
    border-color: #3B00DD;
    background: #3B00DD;
    margin-top: 223.25px;
    margin-bottom: 54.9px;
    margin-left: 508.59px;
}

.wrap-image {
    margin-bottom: 73.2px;
}

.block-title {
    width: 380.94px;
    height: 43px;
    margin-bottom: 36.6px;
    margin-left: 103.71px;
    font-family: 'Roboto', sans-serif;
}

.block-title:nth-child(1) {
    width: 380.94px;
    height: 43px;
    margin-top: 109.8px;
    margin-bottom: 36.6px;
    margin-left: 103.71px;
    font-family: 'Roboto', sans-serif;
}

.block-desc {
    width: 383.93px;
    height: 209.53px;
    margin-left: 103.71px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
}

.btn-icon {
    color: white ;
    width: 179.5px;
    height: 43.92px;
    margin-left: 103.71px;
}

.section-reviews{
    width: 1440px;
    height: 640px;
}

.reviews-wrapper {
    display: flex;
}

.section-title {
    text-align: center;
    margin-top: 107px;
    margin-bottom: 72px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 69px;
}

.review-item {
    width: 33.33%;
}

.review-item:nth-child(1){
    margin-left: 120px;
}

.review-item:nth-child(3){
    margin-right: 120px;
}

.review-image{
    margin-bottom: 25px;
    border-radius: 20px;
}

.review-title{
    text-align: center;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 20px;
}

.review-desc{
    width: 384px;
    height: 48px;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
}

.review-decor{
    width: 200px;
    border: 5px solid #3B00DD;
    background: #3B00DD;
    margin: 0 25% 20px 25%;
}

.section-contacts{
    width: 1440px;
    height: 881px;
}

.form{
    position: relative;
}

.section-title{
    text-align: center;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 69px;
    color: rgba(0, 0, 0, 0.87);
}

.contacts-wrapper{
    display: flex;
}

.contacts-form{
    display: block;
    width: 588px;
    height: 492px;
    margin-left: 120px;
    outline: inherit;
}

.contacts-map{
    width: 588px;
    height: 331px;
    margin-right: 120px;
}

input{
    width: 384px;
    height: 56px;
    outline: black;
    box-sizing: border-box;
    padding-left: 10px;
    border: 0.1ex solid #CCC;
    border-radius: 1em;
    margin: 0 102px 18px 102px;
}

.form label:nth-child(1) p{
    position: absolute;
    padding-top: 31px;
    padding-left: 100px;

}

.form label:nth-child(2) p{
    position: absolute;
    padding-top: 30px;
    padding-left: 100px;
    transform: translateY(-40px);
}

.form label:nth-child(3) p{
    position: absolute;
    padding-top: 30px;
    padding-left: 100px;
    transform: translateY(-40px);
}

.form label:nth-child(1) input {
    margin-top: 41px;
}

h4{
    width: 175px;
    height: 30px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
    margin-right: 40px;
    margin-left: 102px;
}

p{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-left: 9px;
}

.contacts-title{
    display: inline;
    margin-top: 48px;
}

button{
    width: 180px;
    height: 48px;
    margin-left: 306px;
}

button:hover{
    background-color: #3B00DD;
    color: white;
}

span{
    color: white;
}

.contact-field {
    display: flex;
}

.contact-field-find {
    width: 241px;
    height: 83px;
    margin-top: 41px;
    margin-bottom: 37px;
    margin-left: 25px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
}

div.contact-field-find h3 {
    margin-top: -25px;
    margin-left: 24px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
}

div.contact-field-find p {
    width: 122px;
    height: 48px;
    margin-top: 5px;
    margin-left: 24px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
}

.contact-field-phone {
    width: 221px;
    height: 83px;
    margin: 41px 45px 37px 56px;
}

div.contact-field-phone h3 {
    margin-top: -25px;
    margin-left: 24px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
}

div.contact-field-phone p {
    margin-top: 5px;
    margin-left: 24px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
    width: 179px;
    height: 48px;
}

.rooms-block {
    width: 1440px;
    height: 1098px;
}

.room-header{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 67px;
    margin-left: 120px;
}

.rooms {
    display: flex;
    width: 1200px;
    height: 790px;
    margin: 64px 120px 127px 120px;
    align-items: flex-start;
    justify-content: space-around;
}

.room-types{
    margin-top: 24px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.87);
}

.room-description{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
    width: 384px;
    height: 76px;
    overflow: hidden;
    margin-top: 12px;
    margin-left: 0px;
}

div.rooms div button{
    width: 180px;
    height: 48px;
    margin: 40px 204px 127px auto;
}

div.rooms div span {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

div.rooms div:nth-child(3) span {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

.footer{
    width: 1440px;
    height: 440px;
    display: flex;
}
.footer img {
    height: 26px;
    width: 157px;
    margin-top: 121px;
    margin-left: 120px;
}

.footer p {
    height: 118px;
    width: 384px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.6);
    margin-top: 36px;
    margin-left: 120px;
}

.footer-menu{
    width: 182px;
    height: 242px;
    margin-top: 100px;
    flex: 1;
}

.footer-menu p{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    width: 180px;
    height: 24px;
}

.footer-menu p:first-child{
    font-weight: bold;
    color: #03DAC4;
}

.footer-icon{
    flex: 2;

}

.footer-follow-us{
    flex: 1;
    width: 180px;
    height: 188px;
    margin-top: 100px;
    margin-right: 120px;
}

.footer-follow-us p{
    width: 180px;
    height: 24px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
}

.footer-follow-us p:first-child{
    font-weight: bold;
    color: #03DAC4;
}

.footer-down{
    display: flex;
    width: 1440px;
    height: 120px;
}

.rights{
    width: 282px;
    height: 24px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 41px;
    margin-left: 120px;
}

.mailing{
    width: 258px;
    height: 30px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 44px;
    margin-left: 258px;
}

.mailing-mail input{
    width: 384px;
    height: 66px;
    margin-top: 20px;
    margin-left: 18px;
    margin-bottom: 34px;
    background: url("../icon/filled_sent.svg") no-repeat scroll 349px 20px;
}

.mailing-mail{
    position: relative;
}

.mailing-mail label p {
    position: absolute;
    margin-top: 10px;
    margin-left: 30px;
}

.see-us{
    width: 1440px;
    height: 880px;
}

.see-us div:nth-child(1) h2:nth-child(1){
    width: 377px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #03DAC4;
    margin-top: 120px;
    margin-left: 532.5px;
}

.see-us div:nth-child(1) h2:nth-child(2){
    width: 587px;
    height: 96px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 5px;
    margin-left: 427px;
}

.see-us-grid{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 293.5px 293.5px 282px 282px;
    align-items: center;
    grid-row-gap: 1px;
    grid-column-gap: 1px;
    margin-left: 121px;
}

.see-us-grid h2{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
}

.see-us-grid p{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.6);
}

.see-us-grid div:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 587px;
    height: 440px;
    margin-top: 41px;
}

.see-us-grid div:nth-child(2){
    background: url("../icon/icons8-natural_food.svg") no-repeat scroll 10px 5px;
}

.see-us-grid div:nth-child(2) h2,
.see-us-grid div:nth-child(3) h2,
.see-us-grid div:nth-child(4) h2,
.see-us-grid div:nth-child(5) h2{
    margin-left: 35px;
}

.see-us-grid div:nth-child(3){
    background: url("../icon/bathroom.svg") no-repeat scroll 10px 5px;
}

.see-us-grid div:nth-child(4){
    background: url("../icon/sleeproom.svg") no-repeat scroll 10px 5px;
}

.see-us-grid div:nth-child(5){
    background: url("../icon/techarea.svg") no-repeat scroll 10px 5px;
}

.portfolio {
    width: 1440px;
    height: 1323px
}

.portfolio-title{
    width: 384px;
    height: 69px;
    margin-top: 112px;
    margin-right: 528px;
    margin-left: 528px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 69px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
}

.portfolio-images{
    display: grid;
    grid-template-rows: repeat(2, 1fr) ;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 12px;
    grid-column-gap: 12px;
    padding: 128px 120px 120px 120px;
}

.portfolio-images div:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.portfolio-images div:last-child {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.event{
    width: 1440px;
    height: 960px;
    position: relative;
}

.event-picture{
    position: absolute;
    left: 8.33%;
    right: 29.58%;
    top: 16.56%;
    bottom: 30.94%;
}

.event-description{
    position: absolute;
    left: 43.75%;
    right: 8.33%;
    top: 50%;
    bottom: 16.67%;
    width: 690px;
    height: 320px;
    background-color: #03DAC4;
}

.event-description h2{
    position: absolute;
    margin-top: 70px;
    margin-left: 102px;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.25px;
    color: rgba(0, 0, 0, 0.87);
}

.event-description article{
    width: 486px;
    height: 96px;
    margin-top: 134px;
    margin-left: 102px;
}

.event-description p{
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
    margin-left: 0px;
}

.event button{
    margin-top: 662px;
    margin-left: 426px;
    width: 204px;
    height: 97px;
}

.event div:nth-child(2) p {
    position: absolute;
    height: 35px;
    left: 72.08%;
    right: 23.54%;
    top: calc(50% - 35px/2 - 303.5px);
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 23.096px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.87);
}
